<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Учебные материалы</title>
    <link type="text/css" rel ="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h1>Список учебных материалов</h1>
    <span th:if="${materials.size() == 0}">Список материалов пустой</span>
    <table th:if="${materials.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Наименование</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materials}">
            <td th:text="${material.id}"/>
            <td th:text="${material.material_name}"/>
            <td><a class="btn btn-secondary" th:href="@{'/details/' + ${material.id}}">Выбрать</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>